
Unity/Logs/AssetImportWorker0.log
Unity/Logs/shadercompiler-AssetImportWorker0.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Unity/Logs/shadercompiler-UnityShaderCompiler.exe7.log
*.log
*.log
*.log
*.log
*.log
